<div class="container">
  <div class="banner">
    <div class="banner-text">
      <h1><%= @restaurant.name %></h1>
      <p><%= @description %></p>
    </div>
  </div>

  <% @reviews.each do |review| %>
    <div class="review-card mb-3">
      <p><%= review.content %></p>
    <% review.rating.times do %>
      <i class="fa-solid fa-star"></i>
    <% end %>
    </div>
    <% end %>
  <%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
</div>
